body{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: #333333b4;
  text-align: center;
}
img{
  width: 600px;
  height: 600px;
}


